{% extends 'bienvenido.html' %}

{% block content %}
    <head>
        <title>Crud Directores</title>
    </head>
    <!-- la alerta para confirmar -->
    {% block js %}
        <script>
            function eliminar(id) {
                Swal.fire({
                    title: '¿Esta seguro?',
                    text: "Esta accion no se puede deshacer",
                    color: '#fff',
                    icon: 'warning',
                    iconColor: '#f11f1f',
                    showCancelButton: true,
                    confirmButtonColor: '#23730e',
                    cancelButtonColor: '#a92a2a',
                    confirmButtonText: 'Si, quiero eliminarlo',
                    background: '#262626',
                    customClass: {
                        title: 'swal-title-dark',
                    }
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = "eliminar_directore/" + id
                    }
                })
            }
        </script>
    {% endblock %}
    {% if user.is_authenticated %}
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                // Verifica si hay un mensaje de error en la plantilla de Django
                const message = '{{ message }}';
                {% for message in messages %}
                    const Toast = Swal.mixin({
                        toast: true,
                        showConfirmButton: false,
                        position: 'top-end',
                        timer: 3000,
                        timerProgressBar: true,
                        didOpen: (toast) => {
                            toast.addEventListener('mouseenter', Swal.stopTimer)
                            toast.addEventListener('mouseleave', Swal.resumeTimer)
                        }
                    })

                    Toast.fire({
                        icon: 'success',
                        title: '{{message}}'
                    })
                {% endfor %}
            });
        </script>
        <h1 class="h1"><span class="border-bottom border-3 mx-3 my-3">Sistema de administración de Usuarios</span></h1>
    {% endif %}
    <div class="mx-3 my-3">
        <table class="table table-responsive table-bordered table-dark table align-middle">
            <thead>
            <tr class="mx-4">
                <th scope="col">Nombre</th>
                <th scope="col" nowrap>Constraseña</th>
                {% if user.is_authenticated %}
                    <th scope="col"></th>
                    <th scope="col"></th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for users in li_user %}
                <tr>
                    <td>{{ users.username }}</td>
                    <td>{{ users.password }}</td>
                    {% if user.is_authenticated %}
                        <td><a href="editar_directore/{{ users.id }}" class="badge badge-secondary"><i
                                class="bi bi-pencil-square"></i></a></td>
                        <td><a href="#" class="badge badge-secondary" onclick="eliminar({{ users.id }})"><i
                                class="bi bi-trash"></i></a></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock %}