{% extends 'bienvenido.html' %}

{% block content %}
    <head>
        <title>Crud Peliculas</title>
    </head>
    <!-- la alerta para confirmar -->
    {% block js %}
        <script>
            function eliminar(id) {
                Swal.fire({
                    title: '¿Esta seguro?',
                    text: "Esta accion no se puede deshacer",
                    color: '#fff',
                    icon: 'warning',
                    iconColor: '#f11f1f',
                    showCancelButton: true,
                    confirmButtonColor: '#23730e',
                    cancelButtonColor: '#a92a2a',
                    confirmButtonText: 'Si, quiero eliminarlo',
                    background: '#262626',
                    customClass: {
                        title: 'swal-title-dark',
                    }
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = "eliminar_pelicula/" + id
                    }
                })
            }
        </script>
    {% endblock %}
    {% if user.is_authenticated %}
        <h1 class="h1"><span class="border-bottom border-3 mx-3 my-3">Sistema de administración de peliculas</span></h1>
        <div class="mx-3 my-3">
            Número de peliculas: {{ no_pelicula }}
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                // Verifica si hay un mensaje de error en la plantilla de Django
                const message = '{{ message }}';
                {% for message in messages %}
                    const Toast = Swal.mixin({
                        toast: true,
                        showConfirmButton: false,
                        position: 'top-end',
                        timer: 3000,
                        timerProgressBar: true,
                        didOpen: (toast) => {
                            toast.addEventListener('mouseenter', Swal.stopTimer)
                            toast.addEventListener('mouseleave', Swal.resumeTimer)
                        }
                    })

                    Toast.fire({
                        icon: 'success',
                        title: '{{message}}'
                    })
                {% endfor %}
            });
        </script>
        <div class="mx-2 my-2">
            <a href="nueva_pelicula" class="badge badge-pill badge-dark">Agregar una nueva pelicula <i
                    class="bi bi-database-fill-add"></i></a>
        </div>
    {% else %}
        <h1 class="h1"><span class="border-bottom border-3 mx-3 my-3">Todos los registros de peliculas</span></h1>
    {% endif %}
    <div class="mx-3 my-3">
        <table class="table table-responsive table-bordered table-dark table align-middle">
            <thead>
            <tr>
                <th scope="col">Portada</th>
                <th scope="col">Titulo</th>
                <th scope="col">Fecha Estreno</th>
                <th scope="col">Duracion</th>
                <th scope="col" nowrap>Sinopsis</th>
                <th scope="col">Calificacion</th>
                {% if user.is_authenticated %}
                    <th scope="col"></th>
                    <th scope="col"></th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for Pelicula in li_pelicula %}
                <tr>
                    <td scope="row"><img src="../media/{{ Pelicula.portada }}" alt="no encontrada" class="rounded img-fluid">
                    </td>
                    <td>{{ Pelicula.titulo }}</td>
                    <td>{{ Pelicula.f_estreno }}</td>
                    <td>{{ Pelicula.duracion }}</td>
                    <td>{{ Pelicula.sinopsis }}</td>
                    <td>{{ Pelicula.calificacion }}</td>
                    {% if user.is_authenticated %}
                        <td><a href="editar_pelicula/{{ Pelicula.id }}" class="badge badge-secondary"><i
                                class="bi bi-pencil-square"></i></a></td>
                        <td><a href="#" class="badge badge-secondary" onclick="eliminar({{ Pelicula.id }})"><i
                                class="bi bi-trash"></i></a></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}