{% extends 'bienvenido.html' %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Crud Peliculas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body class="p-3 mb-2 bg-black text-white position-relative">
<h1 class="h1"><span class="border-bottom border-3">Sistema de administración de personas (domicilios)</span></h1>
<div>
    Número de peliculas: {{ no_pelicula }}
</div>
<div>
    <a href="nueva_pelicula" class="badge badge-pill badge-dark">Agregar una nueva pelicula <i
            class="bi bi-database-fill-add"></i></a>
</div>
<div>
    <table class="table table-bordered table-dark">
        <thead>
        <tr>
            <th>Titulo</th>
            <th>Fecha Estreno</th>
            <th>Duracion</th>
            <th>Sinopsis</th>
            <th>Calificacion</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for Pelicula in li_pelicula %}
            <tr>
                <td>{{ Pelicula.titulo }}</td>
                <td>{{ Pelicula.f_estreno }}</td>
                <td>{{ Pelicula.duracion }}</td>
                <td>{{ Pelicula.sinopsis }}</td>
                <td>{{ Pelicula.calificacion }}</td>
                <td><a href="detalle_pelicula/{{ Pelicula.id }}" class="badge badge-secondary"><i
                        class="bi bi-eye"></i></a></td>
                <td><a href="editar_pelicula/{{ Pelicula.id }}" class="badge badge-secondary"><i
                        class="bi bi-pencil-square"></i></a></td>
                <td><a href="eliminar_pelicula/{{ Pelicula.id }}" class="badge badge-secondary"><i
                        class="bi bi-trash"></i></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>
{% endblock %}