{% extends 'bienvenido.html' %}

{% block content %}
    <head>
        <title>Crud Directores</title>
    </head>
    <!-- la alerta para confirmar -->
    {% block js %}
        <script>
            function eliminar(id) {
                Swal.fire({
                    title: '¿Esta seguro?',
                    text: "Esta accion no se puede deshacer",
                    color: '#fff',
                    icon: 'warning',
                    iconColor: '#f11f1f',
                    showCancelButton: true,
                    confirmButtonColor: '#23730e',
                    cancelButtonColor: '#a92a2a',
                    confirmButtonText: 'Si, quiero eliminarlo',
                    background: '#262626',
                    customClass: {
                        title: 'swal-title-dark',
                    }
                }).then((result) => {
                    if (result.isConfirmed) {
                            window.location.href = "eliminar_genero/" + id
                    }
                })
            }
        </script>
    {% endblock %}
    {% if user.is_authenticated %}
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                // Verifica si hay un mensaje de error en la plantilla de Django
                const message = '{{ message }}';
                {% for message in messages %}
                    const Toast = Swal.mixin({
                        toast: true,
                        showConfirmButton: false,
                        position: 'top-end',
                        timer: 3000,
                        timerProgressBar: true,
                        didOpen: (toast) => {
                            toast.addEventListener('mouseenter', Swal.stopTimer)
                            toast.addEventListener('mouseleave', Swal.resumeTimer)
                        }
                    })

                    Toast.fire({
                        icon: 'success',
                        title: '{{message}}'
                    })
                {% endfor %}
            });
        </script>
        <h1 class="h1"><span class="border-bottom border-3 mx-3 my-4" >Sistema de administración de Genero</span></h1>
        <div class="mx-3 my-3">
            Cantidad de Generos: {{ no_generos }}
        </div>
        <div class="mx-2 my-2">
            <a href="nuevo_genero" class="badge badge-pill badge-dark">Agregar un nuevo genero <i
                    class="bi bi-database-fill-add"></i></a>
        </div>
    {% else %}
        <h1 class="h1"><span class="border-bottom border-3 mx-3 my-3">Todos los registros de Genero</span></h1>
    {% endif %}
    <div class="mx-3 my-3">
        <table class="table table-bordered table-dark">
            <thead>
            <tr class="mx-4">
                <th class="mx-4">tipo</th>
                {% if user.is_authenticated %}
                    <th scope="col" class="mx-4"></th>
                    <th scope="col" class="mx-4"></th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for Genero in li_generos %}
                <tr class="mx-4">
                    <td class="mx-4">{{ Genero.nombre }}</td>
                    {% if user.is_authenticated %}
                        <td class="mx-4"><a href="editar_genero/{{ Genero.id }}" class="badge badge-secondary"><i
                                class="bi bi-pencil-square"></i></a></td>
                        <td class="mx-4"><a href="#" class="badge badge-secondary"
                                            onclick="eliminar({{ Genero.id }})"><i
                                class="bi bi-trash"></i></a></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

