{%extends 'base.html'%}

{% block content%}
    <h1>Home</h1>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus mattis lorem vel leo bibendum rutrum. Integer et nibh ornare, commodo urna in, iaculis leo. Praesent placerat lectus tincidunt libero vestibulum mattis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc finibus est vel quam pulvinar, in fringilla sapien dictum. Aenean porta sollicitudin vulputate. Fusce at sem ut quam facilisis interdum. Curabitur nec consequat ex, nec posuere ante. Donec pharetra at nisi eu rutrum. Aenean suscipit dui ligula, ac tempus ligula commodo nec.
    </p>
{% endblock %}

