<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Formulario</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>
<body>

<div class="container">
    <h1 class="text-center">Formulario de Registro de Películas</h1>
    <h4 class="text-center"><a href="{% url 'indexPelicula' %}">Volver al Index</a></h4>


    <form action="pruebapelicula" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <input type="text" name="txtnom" placeholder="Nombre de Película" required
               class="form-control form-control-lg"/>

        <br/>

        <input type="date" name="fe" placeholder="Fecha estreno" required
               class="form-control form-control-lg"/>

        <br/>

        <input type="time" name="du" placeholder="tiempo" required
               class="form-control form-control-lg"/>

        <br/>
        <input type="text" name="si" placeholder="Fecha estreno" required
               class="form-control form-control-lg"/>

        <br/>

        <input type="number" name="ca" placeholder="Fecha estreno" required
               class="form-control form-control-lg"/>

        <br/>

        <input type="file" name="txtfot" accept="image/png, image/gif, image/jpeg"
               class="form-control form-control-lg"/>

        <br/>

        <input type="submit" value="Guardar Datos" class="btn btn-primary btn-lg" style="width:100%"/>
    </form>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
</body>
</html>