<!DOCTYPE html>
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.15.5/dist/sweetalert2.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'userviews/css/styles.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/7.2.4/pixi.min.js"></script>
</head>
<body class="p-3 mb-2 bg-black text-white">
    <nav class="navbar navbar-dark fixed-top custom-bg-purple">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1">Projecto Streaming</span>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end custom-bg-purple" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Bienvenido</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'welcome' %}">Principal</a>
                            <a class="nav-link active" aria-current="page" href="{% url 'prueba' %}">Laboratorio</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown"
                               aria-expanded="false">
                                Juegos
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark border-0">
                                <li><a class="dropdown-item" href="#">Generos</a></li>
                                <li><a class="dropdown-item" href="#">Directores</a></li>
                                <li><a class="dropdown-item" href="#">Peliculas</a></li>
                                <li><a class="dropdown-item" href="#">Series</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#" data-bs-toggle="tooltip"
                                       data-bs-title="Futuro crud con peliculas y series en una tabla!">total</a></li>
                            </ul>
                        </li>
                        <li class="border-top my-3"></li>
                        {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Crear un
                                    usuario</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Administrar los
                                    usuario</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Cerrar sesion</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Inicio
                                    sesion</a>
                            </li>
                        {% endif %}
                        <li class="border-top my-3"></li>
                    </ul>
                    <form class="d-flex mt-3" role="search" method="POST">
                        <input class="form-control me-2" type="search" name="buscar" aria-label="Search"
                               placeholder="Buscar">
                        <button class="btn btn-success" type="submit">Buscar</button>
                        {% csrf_token %}
                    </form>
                </div>
            </div>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</html>